In [183]:
import pandas as pd

df = pd.read_csv('reviews.csv', encoding='utf-8')

In [184]:
# Display the first 10 rows of the data frame
df.head(10)

,id,restaurant_name,review_name,review_text,rating,date_of_visit,location
0,0,KFC,Подвірʼя даль ручка.,Терапія ламати ідея ґазда казна-хто зрозумілий...,5.0,2023-05-01,Моспине
1,1,Marine,Основа виражений.,Написати перед оборот торгівля хлопець. Роса н...,5.0,2023-10-01,Ірпінь
2,2,Rich,Ставити загроза.,Присвятити означати купа затримати. Холодно пр...,3.0,2022-09-16,Заставна
3,3,Chelentano,Пропадати століття.,Штаб заклад мета подвірʼя. Щур бригада кпсс пр...,3.0,2022-05-16,Надвірна
4,4,Familia,Покидати рішення.,Крутий розстебнути інший трубка бак. Низький п...,3.0,2023-03-15,Лебедин
5,5,True Price,Хліб здригатися.,Падати спалити кордон дошлий солома відповідні...,1.0,2023-09-04,Костопіль
6,6,Marine,Дрібниця нестерпний.,Інший спорт грати. Залучати виражений рота вій...,1.0,2023-08-19,Васильків
7,7,True Price,Вибирати постійний.,Прошепотіти подробиця пристрій легко юний інва...,4.0,2023-08-01,Кремінна
8,8,Familia,Яскраво відповісти.,Хліб зелений угодний пісенька. Господь фахівец...,4.0,2024-01-04,Глухів
9,9,Rich,Засунути й щось.,Основа близько черговий місце хата ягода прист...,2.0,2023-12-14,Белз

In [168]:
df.set_index('id', inplace=True)

In [169]:
df.head(10)

,restaurant_name,review_name,review_text,rating,date_of_visit,location
id,,,,,,
0,KFC,Подвірʼя даль ручка.,Терапія ламати ідея ґазда казна-хто зрозумілий...,5.0,2023-05-01,Моспине
1,Marine,Основа виражений.,Написати перед оборот торгівля хлопець. Роса н...,5.0,2023-10-01,Ірпінь
2,Rich,Ставити загроза.,Присвятити означати купа затримати. Холодно пр...,3.0,2022-09-16,Заставна
3,Chelentano,Пропадати століття.,Штаб заклад мета подвірʼя. Щур бригада кпсс пр...,3.0,2022-05-16,Надвірна
4,Familia,Покидати рішення.,Крутий розстебнути інший трубка бак. Низький п...,3.0,2023-03-15,Лебедин
5,True Price,Хліб здригатися.,Падати спалити кордон дошлий солома відповідні...,1.0,2023-09-04,Костопіль
6,Marine,Дрібниця нестерпний.,Інший спорт грати. Залучати виражений рота вій...,1.0,2023-08-19,Васильків
7,True Price,Вибирати постійний.,Прошепотіти подробиця пристрій легко юний інва...,4.0,2023-08-01,Кремінна
8,Familia,Яскраво відповісти.,Хліб зелений угодний пісенька. Господь фахівец...,4.0,2024-01-04,Глухів
9,Rich,Засунути й щось.,Основа близько черговий місце хата ягода прист...,2.0,2023-12-14,Белз

In [170]:
#Check for any missing values and handle them appropriately
df.dropna(subset=['rating', 'restaurant_name', 'review_name', 'review_text', 'date_of_visit','location'], inplace=True)

In [171]:
#Ensure all ratings are within the 1 to 5 range.
filter1 = df["rating"] >= 1
filter2 = df["rating"] <= 5
df.where(filter1 & filter2, inplace=True)

In [172]:
#Summary statistic of the numeral columns
df['rating'].mean()

2.9173553719008263

In [173]:
df['rating'].sum()

1412.0

In [174]:
df.describe()

           rating
count  484.000000
mean     2.917355
std      1.442259
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000

In [175]:
#Create a new column "Review Length" that represents the number of words in the review text.
df['review_length'] = df['review_text'].str.count(' ') + 1

In [176]:
df.head(10)

,restaurant_name,review_name,review_text,rating,date_of_visit,location,review_length
id,,,,,,,
0,KFC,Подвірʼя даль ручка.,Терапія ламати ідея ґазда казна-хто зрозумілий...,5.0,2023-05-01,Моспине,9
1,Marine,Основа виражений.,Написати перед оборот торгівля хлопець. Роса н...,5.0,2023-10-01,Ірпінь,12
2,Rich,Ставити загроза.,Присвятити означати купа затримати. Холодно пр...,3.0,2022-09-16,Заставна,8
3,Chelentano,Пропадати століття.,Штаб заклад мета подвірʼя. Щур бригада кпсс пр...,3.0,2022-05-16,Надвірна,15
4,Familia,Покидати рішення.,Крутий розстебнути інший трубка бак. Низький п...,3.0,2023-03-15,Лебедин,8
5,True Price,Хліб здригатися.,Падати спалити кордон дошлий солома відповідні...,1.0,2023-09-04,Костопіль,12
6,Marine,Дрібниця нестерпний.,Інший спорт грати. Залучати виражений рота вій...,1.0,2023-08-19,Васильків,12
7,True Price,Вибирати постійний.,Прошепотіти подробиця пристрій легко юний інва...,4.0,2023-08-01,Кремінна,7
8,Familia,Яскраво відповісти.,Хліб зелений угодний пісенька. Господь фахівец...,4.0,2024-01-04,Глухів,7
9,Rich,Засунути й щось.,Основа близько черговий місце хата ягода прист...,2.0,2023-12-14,Белз,7

In [177]:
#Data Analysis Tasks (20 minutes)
#Find the average rating for each restaurant and display the top 10 highest-rated restaurants.
df.groupby('restaurant_name')['rating'].mean().sort_values(ascending=False).head(10)

restaurant_name
Pancake         3.382353
McDonald`s      3.333333
Fabric`s        3.129032
Bulvar          3.108696
True Price      3.027778
New Province    3.025641
Rich            2.920000
Marine          2.864865
Paris           2.774194
KFC             2.697674
Name: rating, dtype: float64

In [178]:
#Identify the 5 most frequent reviewers and the average rating they give.
reviewer_stats = df.groupby('review_name').agg({
  'rating': ['mean', 'count']})
reviewer_stats.columns = ['average_rating', 'review_count']
reviewer_stats = reviewer_stats.sort_values(by='review_count', ascending=False)
reviewer_stats.head(5)

                  average_rating  review_count
review_name
Висловлюватися.         1.333333             3
Інтелектуальний.        2.500000             2
Звільнення.             4.000000             2
Відзначити.             4.500000             2
Розгубитися.            2.500000             2

In [179]:
#Calculate the average rating per month to see if there is a trend over time.
df.groupby(pd.PeriodIndex(df['date_of_visit'], freq="M"))['rating'].mean()

date_of_visit
2022-03    3.500000
2022-04    2.500000
2022-05    2.869565
2022-06    3.000000
2022-07    2.600000
2022-08    3.037037
2022-09    3.074074
2022-10    2.680000
2022-11    2.687500
2022-12    2.444444
2023-01    3.250000
2023-02    3.333333
2023-03    2.727273
2023-04    2.470588
2023-05    2.869565
2023-06    2.619048
2023-07    3.047619
2023-08    3.272727
2023-09    3.105263
2023-10    3.307692
2023-11    3.363636
2023-12    2.650000
2024-01    2.600000
2024-02    3.269231
2024-03    5.000000
Freq: M, Name: rating, dtype: float64

In [180]:
#Find the restaurant with the most reviews.
df['restaurant_name'].value_counts().idxmax()

'Parla'

In [181]:
#Determine the city with the highest average rating.

df.groupby(["location"]).agg({
  "rating": "mean",
}).reset_index().max()

location    Ясинувата
rating            5.0
dtype: object